@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 100;
    src: local('LotteMartDream'),
        url('LotteMartDreamL.woff2') format('woff2'), 
        url('LotteMartDreamL.woff') format('woff'),
        url('LotteMartDreamL.ttf') format('truetype'),
        url('LotteMartDreamL.otf') format('opentype'),
        url('LotteMartDreamL.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 400;
    src: local('LotteMartDream'),
        url('LotteMartDreamM.woff2') format('woff2'), 
        url('LotteMartDreamM.woff') format('woff'),
        url('LotteMartDreamM.ttf') format('truetype'),
        url('LotteMartDreamM.otf') format('opentype'),
        url('LotteMartDreamM.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 700;
    src: local('LotteMartDream'),
        url('LotteMartDreamB.woff2') format('woff2'), 
        url('LotteMartDreamB.woff') format('woff'),
        url('LotteMartDreamB.ttf') format('truetype'),
        url('LotteMartDreamB.otf') format('opentype'),
        url('LotteMartDreamB.eot') format('embedded-opentype');
}
